.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f5f5f5; /* Light background color */
  text-align: center;
  font-family: 'Arial', sans-serif; /* Choose an appealing font */
  color: #333; /* Text color */
}
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  table.center {
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #3f444b;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  
  .portal-title {
    text-align: center;
    font-size: 36px;
    color: #971b68;
    font-family: 'Helvetica', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .navbar {
    background-color: #e076d8;
    padding: 20px 0;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 20px;
  }

  /* Add custom styles for your profile content */
  .profile-content {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  .custom-button {
    margin-right: 20px; 
    background-color: #971b68;
    /* Add any other styles you need */
  }
  