.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #a59797;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #007BFF;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 18px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  background-color: #007BFF;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table.center {
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

table th {
  background-color: #007BFF;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

